* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: $font-family;
   font-size: $font-size;
   font-weight: lighter;
}

nav {
    height: 110px;
    color: white;
    background-color: black;
    .nav {
        height: 50%;
        display: flex;
        align-items: center;
        ul {
            list-style: $lstyleN;
            @include flex(row, flex-start, stretch);
        }
    }
}



.nav-top{
    justify-content: flex-end;
    ul {
        margin-right: 100px;
        li {
            margin: 0 10px;
            color: $linkGrey;
            i{
                color: rgb(8,156,255);
            }
        }
    }
}


.nav-bot {
    .logo {
        width: 15%;
        @include flex(row, flex-end, stretch);
        img{
            @include imgFit(auto,25px);
        }
    }
    ul {
        margin-left: 10px;
        li {
            padding: 18px;
            position: relative;
            &:hover {
                background-color: white;
                color: black;
            }
            &:hover .dropdown {
                display: inline-block;
            }
            .dropdown {
                background-color: white;
                display: none;
                width: 200px;
                @include absolute(54px,0);
                ul {
                    list-style: $lstyleN;
                    @include flex(column, flex-start, stretch);
                }
            }
        }

    }
}
