
//FONT
$font-family: 'PT Sans', sans-serif;
$font-size: 14px;

//LIST
$lstyleN: none;

//TEXT
$tDecoN: none;
$linkGrey: rgb(152,152,152);

//BTN
$btnBgc: rgb(0,156,255);

//BGCCOLORS
$header-footerBgc: black;
